*{
	margin:0;
	padding:0;
	list-style-type:none;
}

a,img{
	border:0;
	text-decoration: none;
}
span{
	{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
}
a:hover{
	text-decoration: underline;
}

body{
	font:12px/180% "宋体",Arial, Helvetica, sans-serif, "仿宋";
}

.wrap{
    padding-bottom:90px;
}

#process{
	width:70%;
	margin:20px auto;
	background:#f0f0f0;
	position:relative;
}

#process ul{
	height:48px;
	overflow:hidden;
}

#process li{
	float:left;
	width:33.3%;
	text-align:center;
	position:relative;
	z-index:2;
	font-size:16px;
	line-height:50px;
	color:#D3D3D3;
}

#process li em{
	position:absolute;
	right:-24px;
	top:-8px;
	width:0;
	height:0;
	line-height:0;
	border-width:32px 0 32px 32px;
	border-color:transparent transparent transparent #fff;
	border-style:dashed dashed dashed solid;
}

#process li i{
	position:absolute;
	right:-16px;
	top:0;
	width:0;
	height:0;
	line-height:0;
	border-width:24px 0 24px 24px;
	border-color:transparent transparent transparent #f0f0f0;
	border-style:dashed dashed dashed solid;
}

#process li.current{
	background:#6B8E23;
	color:#fff;
	z-index:1;
}

#process li.current i{
	border-color:transparent transparent transparent #6B8E23;
}
.hd-title {
    background: #fff6e4 url("../images/ico-used1.png") no-repeat scroll 10px 5px;
    border: 1px solid #ffce6f;
    width:70%;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 40px;
    position: relative;
    margin:0 auto;
}
.star,.f-c-red, .fc-red, .f_c_red {
	font-size:14px;
    color: #ec3701 !important;
}
.star{
	padding:10px 10px 10px 30px;
}

.add-detail {
	width:70%;
	margin:0 auto;
    font-size: 16px;
    padding: 15px 0;
}
#id_post_form{
	
}
.input-style{
	height:30px;
	margin:10px;
}
.space{
	padding-left:10px;
}
*::-moz-placeholder {
    color: #aaa;
}
.add-detail input.select-btn, .add-detail input.input-style {
    color: #4b4b4b;
}
.add-detail .line-red {
    border: 1px solid #fe8a8a;
    box-shadow: 0 0 4px #fe8a8a;
}
.select-btn, .select-btn-hover {
    background-color: #fff;
    background-position: right 0;
    border: 1px solid #c9c9c9;
    color: #1b1b1b;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 28px 0 5px;
    width: 120px;
    margin-left:10px;
    margin-bottom:10px;
    z-index: 0;
}

input {
    margin: 0;
}
#tip_span_house_info{
	clear:both;
}
.txtarea{
	width:540px;
	height:220px;
	margin-left:10px;
}
#footer {
    clear: both;
    margin: 0 auto;
    padding: 15px 0 25px;
    text-align: center;
    width: 980px;
}
#footer li a{
	color:#A1A1A1;
}

.select-option {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px #e5e5e5;
    display: none;
    font-size: 14px;
    left: 360px;
    position: absolute;
    top: 385px;
    width: 123px;
    z-index: 2;
}
#housePosItem li:hover{
	background-color:gray;
}
.rent-mode, .rent-on {
    border: 1px solid #ddd;
    color: #4b4b4b;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    padding: 1px 20px;
    position: relative;
}
.rent-mode:hover{
	border-color:#acd589;
	color:#4b4b4b;
	text-decoration:none
}
.rent-on i{
	background:url(../images/ico_adorn.png) no-repeat;
	height:11px;
	line-height:11px;
	font-size:0;
	position:absolute;
	bottom:0;
	right:0;
	width:11px;
}
.rent-on{
	border:2px solid #77a82d;
	padding:0 20px;
}
.rent-on:hover{
	color:#4b4b4b;
	text-decoration:none;
}
 #ui-uploader-1 .ui-uploader-action {
     height: 30px;
 }
#ui-uploader-1 .ui-uploader-cloud-photo-btn {
    background: url('http://stacdn201.ganjistatic1.com/src/image/house/pub/uploadMobile.png') no-repeat 0 0;
    width: 100px;
    height: 30px;
}
#ui-uploader-1 .ui-uploader-cloud-photo-btn:hover {
	background-position: 0 -60px;
}
.appfix {
    height: 130px;
    margin-right: -610px;
    position: fixed;
    right: 50%;
    top: 407px;
    width: 108px;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.field {
    margin-bottom: 18px;
    text-align: left;
    vertical-align: middle;
}
.job-btn-org{
	background:#fd8000;
	border:0;
	color:#fff;
	font:normal 24px/50px "Microsoft YaHei";
	height:50px;
	text-align:center;
	width:160px;
	padding:0;
	margin-top:100px;
	margin-bottom:100px;
	margin-left:300px;
}
.job-btn-org:hover{
	background:#fd6000;
}
.validatorMsg{
	font-size:14px;
	display:inline-block;
	height:30px;
	line-height:30px;
	padding-left:36px;
	vertical-align:middle;
}
.validatorFocus{
	background:url(../images/validatorInit.png) no-repeat 10px 4px;
	color:#1188d3;
}.validatorError{
	color:#f60;
	background:url(../images/validatorError.png) no-repeat 10px 4px;
}