/* 登录框部分 */
.login-box {
	width: 400px;
	height: 420px;
	position: absolute;
	right: 200px;
    top: 167px;
	background-color: #F9F9F9;
}

.form-inline {
	width: 22%;
	position: absolute;
	left: 15%;
	top: 18%;
}

input.form-control {
	height: 36px;
}

td {
	padding-bottom: 20px;
}

#imglogin {
	width: 267px;
	height: 36px;
	padding: 5px;
	margin-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: rgb(86, 104, 186);
}